@media (max-width: 370px) {
    .header-content__title {
        font-size: 4rem;
    }
  }


  @media (max-width: 768px) {
    .destinations__places {
        justify-content: center;
    }
  }

@media (min-width: 576px) {
    .container {
      width: 54rem;
    }
    
  }
  
@media (min-width: 768px) {
    .container {
        width: 72rem;
    }
    .nav__btn, .nav__menu {
        display: none;
    }
    .menu{ 
        display: flex;
    }

    .newsletter__image {
        
        max-width: 30rem;
    }
    .newsletter{
        flex-direction: row;
        text-align: left;
        justify-content: space-around;

    }

    .newsletter__title {
        text-align: left;
        max-width: 50rem;
        margin: 2rem 0;
    }

    .newsletter__caption {
        text-align: left;
        max-width: 50rem;
        margin: 2rem 0;
    }

    .newsletter__email-box {
        margin: 2rem 0;
        width: 100%;
        margin: 2rem 0;
    }
    
}

@media (min-width: 992px) {
    .container {
        width: 96rem;
    }
    .nav__links {
    display: flex;
    } 
    .header-content__caption {
        max-width: 50rem;
    }
   
}

@media (min-width: 1200px) {
    .container {
        width: 114rem;
    }
}


@media (min-width: 1400px) {
    .container {
    width: 137rem;
    }
    
}
